body {
  background-image: url("/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-size: auto;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 175px;
  right: -85px;
}

#planete {
  position: relative;
  height: 150px;
  width: 150px;
  right: 175px;
  top: 30px;
}

hr {
  position: relative;
  top: -130px;
  border: 0;
  height: 3px;
  width: 500px;
  background-color: red;
}

h2 {
  color: white;
  text-align: center;
  font-size: 3vw;
  margin-top: 80px;
  font-family: 'Poppins', sans-serif;
}


/* DATE */

input {
  font-size: 25px;
  margin-bottom: 25px;
}

#input {
  text-align: center;
}


/* PHOTO DU JOUR */

#APOD {
  text-align: center;
}

p {
  color: white;
  line-height: 24px;
}


/* ASTEROIDE DU JOUR */

#NEO {
  padding: 5px;
  /*margin: auto;*/
}

#NEO .content{
  margin-top: 20px;
}

/* BLOCS DE CONTENU */

.content {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: flex-start;
  flex-wrap: wrap;
  /*margin-top: 25px;*/
  padding: 14px;
  margin: auto;
}

.content h3 {
  color: aliceblue;
  text-align: left;
}

.content-picture {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
}

#description {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description p {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

.content-picture p {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

.content img {
  max-width: 700px;
}

.image {
  justify-content: center;
  margin: auto;
}


/* TERRE ET ASTEROIDES */

#earth {
  position: relative;
  height: 400px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 300px;
  margin: 0 auto; /*pas de marge verticale*/
  background-image: url(/images/terre.png);
  background-size: 400px;
  overflow: visible;
}

#moonContainer {
  position: absolute;
  top: -20px;
  left: -85px;
  width: 600px;
  height: 506px;
  /*border: 2px solid white;*/
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

#moon {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 60px;
  height: 60px;
  background-image: url(/images/aste.png);
  background-size: 60px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes moonOrbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes moonRotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

#moonContainer2 {
  position: absolute;
  top: -15px;
  left: -120px;
  width: 600px;
  height: 456px;
  /*border: 2px solid white;*/
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

#moon2 {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 40px;
  height: 40px;
  background-image: url(/images/aste.png);
  background-size: 40px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}


/* INFOS ASTEROIDES */

#description .hide{
  display: none;
  background-color: rgba(255, 255, 255, 0.75);
  color: black;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  max-width: 305px;
}
