html {
  height: 100%;
  margin: 0;
  background-image: url("/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-size: auto;
  /*background-repeat: no-repeat*/
  font-family: "Poppins", sans-serif, Verdana, sans-serif;
}

h1 {
  position: relative;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 175px;
  font-size: lighter;
  right: -85px;
  margin-bottom: 60px;
}

#planete {
  position: relative;
  height: 170px;
  width: 170px;
  right: 185px;
  top: 45px;
  filter: hue-rotate(250deg);
}

hr {
  position: relative;
  top: -60px;
  border: 0;
  height: 3px;
  width: 500px;
  background-color: white;
}

h2 {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
}

/*IMAGES*/

#trounoir {
  position: absolute;
  height: 400px;
  left: -125px;
  top: -125px;
  z-index: -1;
}
#fullscreen {
  position: absolute;
  height: 50px;
  filter: invert();
  top: 10px;
  right: 10px;
}
#share {
  position: absolute;
  height: 50px;
  filter: invert();
  top: 10px;
  right: 85px;
}
#mail {
  position: absolute;
  height: 50px;
  filter: invert();
  top: 10px;
  right: 160px;
}
#rocket {
  position: absolute;
  height: 50px;
  filter: invert();
  top: 10px;
  right: 235px;
}

/*INTRO*/

.introduction {
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-size: 25px;
  background-color: #7e76b0;
  opacity: 0.8;
  padding: 12px;
  border-radius: 20%;
  margin-bottom: 25px;
}

.introduction p {
  line-height: 30px;
}

/*PHOTOS AVANT 1995*/
#oups {
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-size: 15px;
  background-color: #7e76b0;
  color: white;
  opacity: 0.9;
  padding: 12px;
  border-radius: 20%;
  margin-bottom: 35px;
  display: none;
}
/* DATE */

input {
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
}

a:link {
  text-decoration: none;
}

#input {
  text-align: center;
}

#input label {
  color: aliceblue;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

/* PHOTO DU JOUR */

#APOD {
  text-align: center;
}

p {
  color: white;
  line-height: 24px;
}

/* ASTEROIDE DU JOUR */

#NEO {
  padding: 5px;
  /*margin: auto;*/
}

#NEO .content {
  margin-top: 20px;
}

#NEO #description {
  width: 400px;
}

#NEO ul,
li {
  margin-left: 20px;
  padding-left: 10px;
}

h4 {
  text-align: center;
  max-width: 500px;
  margin: auto;
  font-size: 15px;
  background-color: #7e76b0;
  color: white;
  opacity: 0.9;
  padding: 12px;
  border-radius: 20%;
  margin-bottom: 35px;
}

/* BLOCS DE CONTENU */

.content {
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: flex-start;
  flex-wrap: wrap;
  /*margin-top: 25px;*/
  padding: 14px;
  margin: auto;
}

.content h3 {
  color: aliceblue;
  text-align: left;
  margin: 0;
}

#content-picture {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description {
  padding: 5px;
  max-width: 700px;
  margin: 0 auto; /*pas de marge verticale*/
  display: none;
}

#description p {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

#content-picture p {
  background-color: rgba(0, 0, 0, 0.65);
  text-align: left;
  padding: 10px;
  margin: 0; /*pour que la description soit "collée" dessous*/
  margin-top: 15px;
}

.content img {
  max-width: 700px;
  max-height: 700px;
}

.image {
  justify-content: center;
  margin: auto;
}

/* TERRE ET ASTEROIDES */

#earth {
  position: relative;
  height: 400px;
  width: 400px;
  margin-top: 50px;
  margin-bottom: 300px;
  margin: 0 auto; /*pas de marge verticale*/
  background-image: url(/images/terre.png);
  background-size: 400px;
  overflow: visible;
}

#moonContainer {
  position: absolute;
  top: -20px;
  left: -85px;
  width: 600px;
  height: 506px;
  /*border: 2px solid white;*/
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

#moon {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 60px;
  height: 60px;
  background-image: url(/images/aste.png);
  background-size: 60px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes moonOrbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes moonRotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

#moonContainer2 {
  position: absolute;
  top: -15px;
  left: -120px;
  width: 600px;
  height: 456px;
  /*border: 2px solid white;*/
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

#moon2 {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 40px;
  height: 40px;
  background-image: url(/images/aste.png);
  background-size: 40px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

/* INFOS ASTEROIDES */

#description .hide {
  display: none;
  background-color: rgba(247, 239, 255, 0.85);
  color: black;
  font-style: italic;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  max-width: 400px;
}

#description img {
  filter: invert(1);
  height: 20px;
  width: 20px;
}

/*ne s'exécute que quand la largeur d'écran est <= 1100px*/
@media screen and (max-width: 1100px) {
  h1 {
    font-size: 115px;
    right: -75px;
  }
  #planete {
    height: 110px;
    width: 110px;
    right: 125px;
    top: 28px;
  }
  hr {
    top: -60px;
  }
  #fullscreen {
    height: 40px;
    top: 10px;
    right: 5px;
  }
  #share {
    height: 40px;
    top: 10px;
    right: 60px;
  }
  #mail {
    height: 40px;
    top: 10px;
    right: 120px;
  }
  #rocket {
    height: 40px;
    top: 10px;
    right: 180px;
  }
}

/*ne s'exécute que quand la largeur d'écran est <= 760px*/
@media screen and (max-width: 760px) {
  h1 {
    font-size: 70px;
    right: -45px;
  }
  #planete {
    height: 70px;
    width: 70px;
    right: 75px;
    top: 15px;
  }
  hr {
    top: -60px;
  }
  #fullscreen {
    height: 25px;
    top: 5px;
    right: 5px;
  }
  #share {
    height: 25px;
    top: 5px;
    right: 40px;
  }
  #mail {
    height: 25px;
    top: 5px;
    right: 75px;
  }
  #rocket {
    height: 25px;
    top: 5px;
    right: 115px;
  }
}
