body {
  background-image: url("/images/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-size: auto;
}

h1,
h2,
div,
p {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
}

h1 {
  color: white;
  text-align: center;
  font-size: 6vw;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2vw;
  margin-top: 80px;
}

#APOD {
  text-align: center;
}

p {
  color: white;
  line-height: 24px;
}

.description {
  padding: 5px;
  max-width: 700px;
  margin: auto;
}

#NEO {
  padding: 5px;
  margin: auto;
}

.description p {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  padding: 14px;
}

.content img {
  max-width: 700px;
}

.image {
  justify-content: center;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 25px;
  padding: 14px;
  text-align: center;
  margin: auto;
}

.content h3 {
  color: aliceblue;
  text-align: left;
}

input {
  font-size: 25px;
  margin-bottom: 25px;
}

#input {
  text-align: center;
}
#earth {
  position: relative;
  height: 400px;
  width: 400px;
  margin-top: 175px;
  margin-bottom: 180px;
  margin-left: auto;
  background-image: url(/images/terre.png);
  background-size: 400px;
  overflow: visible;
}

#moonContainer {
  position: absolute;
  top: -60px;
  left: -128px;
  width: 600px;
  height: 506px;
  /*border: 2px solid white;*/
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 15s;
}

#moon {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 60px;
  height: 60px;
  background-image: url(/images/aste.png);
  background-size: 60px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 5s;
}

@-webkit-keyframes moonOrbit {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes moonRotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

#moonContainer2 {
  position: absolute;
  top: -75px;
  left: -100px;
  width: 600px;
  height: 456px;
  /*border: 2px solid white;*/
  border-radius: 228px;

  -webkit-animation-name: moonOrbit;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}

#moon2 {
  position: absolute;
  top: -55px;
  left: 175px;
  width: 40px;
  height: 40px;
  background-image: url(/images/aste.png);
  background-size: 40px;

  -webkit-animation-name: moonRotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 10s;
}
